# Awesome Go Extra
***All data are from [awesome-go](https://github.com/avelino/awesome-go) and [GitHub API](https://docs.github.com/en/rest/reference/repos#get-a-repository).***

{{- range .}}
{{headingMD .HeadingLevel}} {{.Text}}
{{if .Desc}}*{{.Desc}}*{{end}}
	{{if .Records}}
|Name|Desc|Star|Fork|Issue|Created|Pushed|
|:---:|:---:|:---:|:---:|:---:|:---:|:---:|
	{{- range sort .Records "star"}}
		{{- $description := ifelse .IsGitHubRepo .Repo.Description .Description}}
{{if .Repo.Archived}}**[ARCHIVED]**  {{end}}[{{ifelse .IsGitHubRepo .Repo.Name .Name}}]({{.URL}})|{{replace $description "|" " " -1}}|{{recordAttr .IsGitHubRepo .Repo.StargazersCount}}|{{recordAttr .IsGitHubRepo .Repo.ForksCount}}|{{recordAttr .IsGitHubRepo .Repo.OpenIssuesCount}}|{{recordAttr .IsGitHubRepo .Repo.CreatedAt}}|{{recordAttr .IsGitHubRepo .Repo.PushedAt}}|
	{{- end}}
{{end}}
{{end -}}
